{% extends "base.html" %}
{% block conteudo %}

<!-- Main content -->
<div class="content">

    <section class="content">
        <div class="container-fluid">

            <div class="row">

            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Nota</h3>
                    </div>
                    <form action="{{ url_for('notes.nova_nota') }}" method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="descricaonota">Descrição</label>
                                <input type="text" class="form-control" name="descricaonota" id="descricaonota" placeholder="Entre com a descrição">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

</div> <!-- /.content -->

{% endblock %} 